<div class="modal fade" id="appointment-modal" tabindex="-1" role="dialog" aria-labelledby="agendamento" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= form_with(model: appointment, remote: true, html: {'data-type': 'json', 'data-model': appointment.class.name.downcase}) do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo agendamento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.hidden_field :student_id %>

          <div class="form-group">
            <%= f.label :user, class: 'form-control-label' %>
            <%= f.collection_select :user_id, User.all, :id, :name, { prompt: true }, { class: 'form-control', required: true }  %>
          </div>

          <div class="form-group">
            <%= f.label :date, class: 'form-control-label' %>
            <%= f.date_field :date, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= f.label :time, class: 'form-control-label' %>
            <%= f.time_field :time, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= f.label :obs, class: 'form-control-label' %>
            <%= f.text_area :obs, class: 'form-control' %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <%= f.submit 'Enviar', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
