<%= form_for_filterrific filterrific, html: { class: 'form-inline', id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  <div class="form-group">
    <%= f.label :search_query, 'Pesquisar', class: 'sr-only' %>
    <%= f.text_field :search_query, class: 'form-control mb-4 mr-sm-4 mb-sm-0', placeholder: 'Pesquisar' %>
  </div>

  <div class="form-group">
    <%= f.label :search_query, 'Filtrar por', class: 'sr-only' %>
    <%= f.select :sorted_by, filterrific.select_options[:sorted_by], {}, { class: 'custom-select mb-4 mr-sm-4 mb-sm-0' } %>
  </div>

  <%= f.submit 'Filtrar', class: 'btn btn-primary mx-sm-3' %>
  <%= link_to 'Limpar', reset_filterrific_url, class: 'btn btn-secondary btn-sm' %>
<% end %>
