<div class="card">
  <div class="card-body">
    <%= form_with(model: student, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :name, class: 'form-control-label' %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :birthday, class: 'form-control-label' %>
        <%= f.date_field :birthday, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :gender, class: 'form-control-label' %>
        <%= f.select :gender, [], {}, { class: 'form-control', required: true } do %>
          <%= options_for_select(Student.genders.map { |g| [Student.human_attribute_name("gender.#{g.first}"), g.last] }, Student.genders[student.gender]) %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :document_rg, class: 'form-control-label' %>
        <%= f.text_field :document_rg, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :document_cpf, class: 'form-control-label' %>
        <%= f.text_field :document_cpf, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :phone_numbers, class: 'form-control-label' %>
        <%= f.text_field :phone_numbers, class: 'form-control', multiple: true %>
      </div>
      <div class="form-group">
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
