<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2>Erro: </h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :student_nome, placeholder: "Digite o nome" %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_select :data_nascimento, id: :student_data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :rg_aluno %>
    <%= form.text_field :rg_aluno, id: :student_rg_aluno, placeholder: "Digite o RG" %>
  </div>

  <div class="field">
    <%= form.label :cpf_aluno %>
    <%= form.text_field :cpf_aluno, id: :student_cpf_aluno, placeholder: "Digite o CPF" %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :student_telefone, placeholder: "Digite o telefone" %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
     <%= form.select :sexo, options_for_select(["Masculino", "Feminino"]), {prompt: "Selecione o sexo"} %>
  </div>

  <br><h2>Necessidades Especiais</h2><br>
  <div id="special_needs">
    <%= form.fields_for :special_needs do |special_need_fields| %>
    <%= render partial: "special_need_fields", locals: { f: special_need_fields } %>
    <% end %>
    <%= link_to_add_association('[Adicionar Necessidade]', form, :special_needs) %>
  </div>

  <br><h2>Restrições Alimentares</h2><br>
  <div id="food_restrictions">
    <%= form.fields_for :food_restrictions do |food_restriction_fields| %>
      <%= render partial: "food_restriction_fields", locals: { f: food_restriction_fields } %>
    <% end %>
    <%= link_to_add_association('[Adicionar Restrição]', form, :food_restrictions) %>
  </div>

  <br><h2>Responsáveis</h2><br>
  <div id="responsibles">
    <%= form.fields_for :responsibles do |responsible_fields| %>
      <%= render partial: "responsible_fields", locals: { f: responsible_fields } %>
    <% end %>
    <%= link_to_add_association('[Adicionar Responsável]', form, :responsibles) %>
  </div>

  <br><h2>Medicamentos</h2><br>
  <table style="width:600px">
    <thead>
      <th style="text-align:left; width:29.8%">Nome</th>
      <th style="text-align:left; width:29.2%">Dosagem</th>
      <th style="text-align:left; width:41%">Intervalo de tempo</th>
    </thead>
  </table>
  <div id="medicines">
      <%= form.fields_for :medicines do |medicines_fields| %>
          <%= render partial: "medicine_fields", locals: { f: medicines_fields } %>
      <% end %>
      <%= link_to_add_association('[Adicionar Medicamento]', form, :medicines) %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
