<div class="nested-fields">
   <div class="field">
         <%= f.text_field :nome, placeholder: "Nome do responsável" %>
         <%= f.date_select :data_nascimento, placeholder: "Data de nascimento" %>
         <%= f.text_field :telefone, placeholder: "Telefone" %>
         <%= f.text_field :rg, placeholder: "RG do responsável" %>
         <%= f.text_field :cpf, placeholder: "CPF do responsável" %>
         <%= link_to_remove_association("Remover", f) %>
   </div>
</div>
