<div class="card">
  <div class="card-body">
    <%= form_with(model: fornecedor, local: true, html: {class: "form-horizontal"} ) do |form| %>
      <% if fornecedor.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

          <ul>
            <% fornecedor.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
          </ul>
        </div>
        <% end %>

          <div class="form-group">
            <%= form.label :nome, class: 'form-control-label' %>
              <%= form.text_field :nome, id: :fornecedor_nome, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :telefone, class: 'form-control-label' %>
              <%= form.text_field :telefone, id: :fornecedor_telefone, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label 'CNPJ', class: 'form-control-label' %>
              <%= form.text_field :cnpj, id: :fornecedor_cnpj, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :inscricao_estadual, class: 'form-control-label' %>
              <%= form.text_field :inscricao_estadual, id: :fornecedor_inscricao_estadual, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label 'Centro de Custo', class: 'form-control-label' %>
              <%= form.text_field :centro_custo, id: :fornecedor_centro_custo, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :email, class: 'form-control-label' %>
              <%= form.text_field :email, id: :fornecedor_email, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :logradouro, class: 'form-control-label' %>
              <%= form.text_field :logradouro, id: :fornecedor_logradouro, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label "Número do logradouro", class: 'form-control-label' %>
              <%= form.text_field :numero_log, id: :fornecedor_numero_log, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :bairro, class: 'form-control-label' %>
              <%= form.text_field :bairro, id: :fornecedor_bairro, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.label :site, class: 'form-control-label' %>
              <%= form.text_field :site, id: :fornecedor_site, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= form.submit "Cadastrar Fornecedor", class: "btn btn-primary" %>
          </div>
          <% end %>
  </div>
</div>