<div class="card">
  <div class="card-body">

    <%= form_with(model: colaborador, local: true) do |form| %>
      <%= errors_for(colaborador) %>


          <div class="form-group">
            <%= form.label :nome, class: 'form-control-label' %>
              <%= form.text_field :nome, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :data_nascimento, class: 'form-control-label' %>
              <%= form.date_field :data_nascimento, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :sexo, class: 'form-control-label' %>
              <%= form.select :sexo, [], {}, { class: 'form-control', required: true } do %>
                <%= options_for_select(Colaborador.sexos.map { |g| [Colaborador.human_attribute_name("sexos.#{g.first}"), g.last] }, colaborador.sexo) %>
                  <% end %>
          </div>

          <div class="form-group">
            <%= form.label :rg, class: 'form-control-label' %>
              <%= form.text_field :rg, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label 'CPF/CNPJ', class: 'form-control-label' %>
              <%= form.text_field :cpf,  class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= form.label :telefone, class: 'form-control-label' %>
              <%= form.text_field :telefone, class: "form-control js-phone-number", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :inscricao_estadual, class: 'form-control-label' %>
              <%= form.text_field :inscricao_estadual, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :state_id, 'Estado', class: 'form-control-label' %>
              <%= form.collection_select(:state_id, State.all, :id, :acronym, { prompt: true }, { class: 'form-control js-state-select' }) %>
          </div>
          <div class="form-group">
            <%= form.label "Cidade", class: 'form-control-label' %>
              <%= form.select(:city_id, @cities ? @cities : [], {}, { class: 'form-control js-city-select' }) %>
          </div>
          <div class="form-group">
            <%= form.label "Rua", class: 'form-control-label' %>
              <%= form.text_field :address_street, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label "Número", class: 'form-control-label' %>
              <%= form.text_field :address_number, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label "Bairro", class: 'form-control-label' %>
              <%= form.text_field :address_neighborhood, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label "CEP", class: 'form-control-label' %>
              <%= form.text_field :address_zip_code, class: 'form-control js-address-zip-code' %>
          </div>


          <div class="actions">
            <%= form.submit "Cadastar Colaborador", class: "btn btn-primary" %>
          </div>
          <% end %>
  </div>
</div>