<p id="notice"><%= notice %></p>

<h1>Projetos</h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Metas</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= projeto.codigo %></td>
        <td><%= projeto.titulo %></td>
        <td><%= projeto.descricao %></td>
        <td><%= projeto.status %></td>
        <td><%= projeto.metas %></td>
        <td><%= projeto.valor %></td>
        <td><%= link_to 'Exibir', projeto %></td>
        <td><%= link_to 'Editar', edit_projeto_path(projeto) %></td>
        <td><%= link_to 'Excluir', projeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Projeto', new_projeto_path %>
