<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @projeto.codigo %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @projeto.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @projeto.descricao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @projeto.status %>
</p>

<p>
  <strong>Metas:</strong>
  <%= @projeto.metas %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @projeto.valor %>
</p>

<%= link_to 'Editar', edit_projeto_path(@projeto) %> |
<%= link_to 'Voltar', projetos_path %>
