<div class="card">
  <div class="card-body">
    <%= form_with(model: user, local: true) do |f| %>
      <%= errors_for(user) %>

      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Dados do Funcionário</h3>
      </div><br>
      <div class="form-group">
        <%= f.label :name, class: 'form-control-label' %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :birthday, class: 'form-control-label' %>
        <%= f.date_field :birthday, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :gender, class: 'form-control-label' %>
        <%= f.select :gender, [], {}, { class: 'form-control', required: true } do %>
          <%= options_for_select(User.genders.map { |g| [User.human_attribute_name("gender.#{g.first}"), g.last] }, User.genders[user.gender]) %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :role, class: 'form-control-label' %>
        <%= f.select :role, [], { prompt: true }, { class: 'form-control', required: true } do %>
          <%= options_for_select(User.options_for_sorted_by_role, User.roles[user.role]) %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :document_rg, class: 'form-control-label' %>
        <%= f.text_field :document_rg, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :document_cpf, class: 'form-control-label' %>
        <%= f.text_field :document_cpf, class: 'form-control js-document-cpf', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :document_cnh, class: 'form-control-label' %>
        <%= f.text_field :document_cnh, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :document_cns, class: 'form-control-label' %>
        <%= f.text_field :document_cns, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :phone_numbers, class: 'form-control-label' %>
        <%= f.text_field :phone_numbers, class: 'form-control js-phone-number', multiple: true %>
      </div>
      <div class="form-group">
        <%= f.label :admission_date, class: 'form-control-label' %>
        <%= f.date_field :admission_date, class: 'form-control', required: true %>
      </div>

      <div class="line"></div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Endereço</h3>
      </div><br>
      <div class="form-group">
        <%= f.label :state_id, 'Estado', class: 'form-control-label' %>
        <%= f.collection_select(:state_id, State.all, :id, :acronym, { prompt: true }, { class: 'form-control js-state-select' }) %>
      </div>
      <div class="form-group">
        <%= f.label :city_id, class: 'form-control-label' %>
        <%= f.select(:city_id, @cities ? @cities : [], {}, { class: 'form-control js-city-select' }) %>
      </div>
      <div class="form-group">
        <%= f.label :address_street, class: 'form-control-label' %>
        <%= f.text_field :address_street, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address_number, class: 'form-control-label' %>
        <%= f.text_field :address_number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address_neighborhood, class: 'form-control-label' %>
        <%= f.text_field :address_neighborhood, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address_zip_code, class: 'form-control-label' %>
        <%= f.text_field :address_zip_code, class: 'form-control js-address-zip-code' %>
      </div>

      <div class="line"></div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Login</h3>
      </div><br>
      <div class="form-group">
        <%= f.label :email, class: 'form-control-label' %>
        <%= f.email_field :email, class: 'form-control', required: true %>
      </div>
      <% if user.new_record? %>
        <div class="form-group">
          <%= f.label :password, class: 'form-control-label' %>
          <%= f.password_field :password, class: 'form-control', required: true %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
