<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Funcionário: <%= @user.name %></h2>
  </div>
</header>
<ul class='breadcrumb'>
  <div class='container-fluid'>
    <li class='breadcrumb-item'>
      <%= link_to 'Início', root_path %>
    </li>
    <li class='breadcrumb-item'>
      <%= link_to 'Funcionários', users_path %>
    </li>
    <li class='breadcrumb-item active'>
      <%= @user.name %>
    </li>
  </div>
</ul>
<section class="forms">
  <div class="container-fluid">
    <div class="bg-white has-shadow">
      <%= render 'form', user: @user %>
    </div>
  </div>
</section>
