<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <%= image_tag 'avatar', class: 'img-fluid rounded-circle' %>
    </div>
    <div class="title">
      <h1 class="h4"><%= current_user.name %></h1>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li>
      <%= link_to root_path do %>
        <%= icon('home') %>
        Home
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'finance' && current_user.role != 'driver' && current_user.role != 'director' %>
        <%= link_to supplies_path do %>
          <%= icon('thermometer-half') %>
          Abastecimentos
        <% end %>
      <% end %>
    </li>
    <li>
      <% if ['director', 'pedagogical_coordinator', 'cr_coordinator', 'psychologist', 'therapist', 'physiotherapist', 'social_worker', 'secretary', 'speech_therapist', 'teacher'].include? current_user.role %>
        <%= link_to student_appointments_path do %>
          <%= icon('calendar ') %>
          Agendamentos
        <% end %>
      <% end %>
    </li>
    <li>
      <% if ['human_resources', 'director', 'pedagogical_coordinator', 'cr_coordinator', 'psychologist', 'therapist', 'physiotherapist', 'social_worker', 'secretary', 'speech_therapist', 'teacher'].include? current_user.role %>
        <%= link_to students_path do %>
          <%= icon('graduation-cap ') %>
          Alunos
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'finance' && current_user.role != 'director' %>
        <%= link_to account_pays_path do %>
          <%= icon('suitcase') %>
          Contas a Pagar
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'finance' && current_user.role != 'telemarketing' && current_user.role != 'director' %>
        <%= link_to account_receivables_path do %>
          <%= icon('money') %>
          Contas a Receber
        <% end %>
      <% end %>
    </li>
    <li>
      <% if ['director', 'warehouse', 'therapist', 'secretary'].include? current_user.role %>
        <%= link_to loans_path do %>
          <%= icon('book') %>
          Empréstimos
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'finance' && current_user.role != 'driver' && current_user.role != 'director' %>
        <%= link_to fleets_path do %>
          <%= icon('bus') %>
          Frotas
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'finance' && current_user.role != 'human_resources' && current_user.role != 'director' %>
        <%= link_to users_path do %>
          <%= icon('users') %>
          Funcionários
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'marketing' && current_user.role != 'telemarketing' && current_user.role != 'director' %>
        <%= link_to partners_path do %>
          <%= icon('handshake-o ') %>
          Parceiros
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'warehouse' && current_user.role != 'director' %>
        <%= link_to products_path do %>
          <%= icon('shopping-basket') %>
          Produtos
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'marketing' && current_user.role != 'director' %>
        <%= link_to projects_path do %>
          <%= icon('file') %>
          Projetos
        <% end %>
      <% end %>
    </li>
    <li>
      <% if ['human_resources', 'director', 'pedagogical_coordinator', 'cr_coordinator', 'psychologist', 'therapist', 'physiotherapist', 'social_worker', 'secretary', 'speech_therapist', 'teacher'].include? current_user.role %>
        <%= link_to student_evolutions_path do %>
          <%= icon('paste') %>
          Relatório de quadro evolutivo
        <% end %>
      <% end %>
    </li>
    <li>
      <% unless current_user.role != 'marketing' && current_user.role != 'telemarketing' && current_user.role != 'director' %>
        <%= link_to partner_donations_path do %>
          <%= icon('usd') %>
          Relatório de Doações
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>
