<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <%= image_tag 'avatar', class: 'img-fluid rounded-circle' %>
    </div>
    <div class="title">
      <h1 class="h4"><%= current_user.name %></h1>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li>
      <a href="./">
        <%= icon('home') %>
        Home
      </a>
    </li>
    <li>
      <%= link_to users_path do %>
        <%= icon('users') %>
        Funcionários
      <% end %>
    </li>
    <li>
      <%= link_to students_path do %>
        <%= icon('graduation-cap ') %>
        Alunos
      <% end %>
    </li>
    <li>
      <%= link_to fleets_path do %>
        <%= icon('bus') %>
        Frotas
      <% end %>
    </li>
    <li>
      <%= link_to partners_path do %>
        <%= icon('handshake-o ') %>
        Parceiros
      <% end %>
    </li>
        <li>
      <%= link_to supplies_path do %>
        <%= icon('thermometer-half') %>
        Abastecimentos
      <% end %>
    </li>
  </ul>
</nav>
