<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="http://i.pravatar.cc/300" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="h4"><%= current_user.name %></h1>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li>
      <a href="./">
        <%= icon('home') %>
        Home
      </a>
    </li>
    <li>
      <%= link_to users_path do %>
        <%= icon('users') %>
        Funcionários
      <% end %>
    </li>
    <li>
      <a href="#dashvariants" aria-expanded="false" data-toggle="collapse">
        <%= icon('window-restore') %>
        Dropdown
      </a>
      <ul id="dashvariants" class="collapse list-unstyled">
        <li>
          <a href="#">Page</a>
        </li>
        <li>
          <a href="#">Page</a>
        </li>
        <li>
          <a href="#">Page</a>
        </li>
        <li>
          <a href="#">Page</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="tables.html">
        <%= icon('table') %>
        Tables
      </a>
    </li>
    <li>
      <a href="charts.html">
        <%= icon('bar-chart') %>
        Charts
      </a>
    </li>
    <li>
      <a href="forms.html">
        <%= icon('pencil-square-o') %>
        Forms
      </a>
    </li>
    <li>
      <a href="login.html">
        <%= icon('sign-in') %>
        Login Page
      </a>
    </li>
  </ul>
</nav>
