<p id="notice"><%= notice %></p>

<h1>Parceiros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefome</th>
      <th>Cnpj</th>
      <th>Inscricao estatual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parceiros.each do |parceiro| %>
      <tr>
        <td><%= parceiro.nome %></td>
        <td><%= parceiro.telefome %></td>
        <td><%= parceiro.cnpj %></td>
        <td><%= parceiro.inscricao_estatual %></td>
        <td><%= link_to 'Mostrar', parceiro %></td>
        <td><%= link_to 'Editar', edit_parceiro_path(parceiro) %></td>
        <td><%= link_to 'Remover', parceiro, method: :delete, data: { confirm: 'Deseja remover o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Parceiro', new_parceiro_path %>
