<%= form_with(model: voluntario, local: true) do |form| %>
  <% if voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

      <ul>
      <% voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= form.label "Código" %>
    <%= form.number_field :codigo, id: :voluntario_codigo %>
  </div>-->

  <div class="field">
    <%= form.label "Nome" %>
    <%= form.text_field :nome, id: :voluntario_nome %>
  </div>

  <div class="field">
    <%= form.label "Data de nascimento" %>
    <%= form.date_select :data_nascimento, id: :voluntario_data_nascimento %>
  </div>

  <div class="field">
    <%= form.label "RG" %>
    <%= form.text_field :rg, id: :voluntario_rg %>
  </div>

  <div class="field">
    <%= form.label "CPF" %>
    <%= form.text_field :cpf, id: :voluntario_cpf %>
  </div>

  <div class="field">
    <%= form.label "Telefone" %>
    <%= form.text_field :telefone, id: :voluntario_telefone %>
  </div>

  <div class="field">
    <%= form.label "Sexo" %>
    <%= form.text_field :sexo, id: :voluntario_sexo %>
  </div>

  <div class="field">
    <%= form.label "Usuário" %>
    <%= form.text_field :usuario, id: :voluntario_usuario %>
  </div>

  <div class="field">
    <%= form.label "Senha" %>
    <%= form.password_field :senha, id: :voluntario_senha %>
  </div>


  <div class="actions">
    <%= form.submit "Cadastrar Voluntário"%>
  </div>
<% end %>
