<div class="card">
  <div class="card-body">
    <%= form_with(model: voluntario, local: true) do |form| %>
      <% if voluntario.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

          <ul>
            <% voluntario.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
          </ul>
        </div>
        <% end %>

          <div class="form-group">
            <%= form.label :nome, class: 'form-control-label' %>
              <%= form.text_field :nome, id: :voluntario_nome, class: "form-control" %>
          </div>


  <div class="form-group">
    <%= form.label "Data de Nascimento", class: 'form-control-label' %>
      <%= form.date_field :data_nascimento, id: :voluntario_data_nascimento, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sexo, class: 'form-control-label' %>
      <%= form.select :sexo, [], {}, { class: 'form-control', required: true } do %>
        <%= options_for_select(Voluntario.sexos.map { |g| [Voluntario.human_attribute_name("gender.#{g.first}"), g.last] }, voluntario.sexo) %>
          <% end %>
  </div>

  <div class="form-group">
    <%= form.label :rg, class: 'form-control-label' %>
      <%= form.text_field :rg, id: :voluntario_rg, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cpf, class: 'form-control-label' %>
      <%= form.text_field :cpf, id: :voluntario_cpf, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :telefone, class: 'form-control-label' %>
      <%= form.text_field :telefone, id: :voluntario_telefone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :atuacao, class: 'form-control-label' %>
      <%= form.text_area :atuacao, id: :voluntario_atuacao, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :usuario, class: 'form-control-label' %>
      <%= form.text_field :usuario, id: :voluntario_usuario, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :senha, class: 'form-control-label' %>
      <%= form.password_field :senha, id: :voluntario_senha, class: "form-control" %>
  </div>


<div class="form-group">
  <%= form.submit "Cadastrar Voluntário", class: "btn btn-primary"%>
</div>

<% end %>
  </div>
  </div>