<%= form_with(model: voluntario, local: true) do |form| %>
  <% if voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

      <ul>
      <% voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.number_field :codigo, id: :voluntario_codigo %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :voluntario_nome %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_select :data_nascimento, id: :voluntario_data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :rg %>
    <%= form.text_field :rg, id: :voluntario_rg %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :voluntario_cpf %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :voluntario_telefone %>
  </div>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :usuario, id: :voluntario_usuario %>
  </div>

  <div class="field">
    <%= form.label :senha %>
    <%= form.text_field :senha, id: :voluntario_senha %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo, id: :voluntario_sexo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
