<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Voluntário: <%= @voluntario.nome %></h2>
  </div>
</header>
<ul class='breadcrumb'>
  <div class='container-fluid'>
    <li class='breadcrumb-item'>
      <%= link_to 'Início', root_path %>
    </li>
    <li class='breadcrumb-item'>
      <%= link_to 'Voluntários', voluntarios_path %>
    </li>
    <li class='breadcrumb-item active'>
      <%= @voluntario.nome %>
    </li>
  </div>
</ul>
<section class="forms">
  <div class="container-fluid">
    <div class="bg-white has-shadow">
      <%= render 'form', voluntario: @voluntario %>
    </div>
  </div>
</section>