<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @conta_a_receber.data %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @conta_a_receber.nome %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @conta_a_receber.valor %>
</p>

<p>
  <strong>Doacao:</strong>
  <%= @conta_a_receber.doacao %>
</p>

<%= link_to 'Editar', edit_conta_a_receber_path(@conta_a_receber) %> |
<%= link_to 'Voltar', conta_a_recebers_path %>
