<p id="notice"><%= notice %></p>

<h1>Action Plans</h1>

<table>
  <thead>
    <tr>
      <th>Frequencia</th>
      <th>Evolucao</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @action_plans.each do |action_plan| %>
      <% estudante = action_plan.student.nome %>
      <tr>
        <td><%= action_plan.frequencia %></td>
        <td><%= action_plan.evolucao %></td>
        <td><%= estudante %></td>
        <td><%= link_to 'Show', action_plan %></td>
        <td><%= link_to 'Edit', edit_action_plan_path(action_plan) %></td>
        <td><%= link_to 'Destroy', action_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action Plan', new_action_plan_path %>
