<p id="notice"><%= notice %></p>

<p>
  <strong>Aluno:</strong>
  <%= @action_plan.student.nome %>
</p>

<p>
  <strong>Data:</strong>
  <%= l @action_plan.data %>
</p>

<p>
  <strong>Evolução:</strong>
  <%= @action_plan.evolucao %>
</p>

<%= link_to t('Edit'), edit_action_plan_path(@action_plan) %> |
<%= link_to t('Back'), action_plans_path %>
