<p id="notice"><%= notice %></p>

<h1><%= t('Appointments') %></h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Horario</th>
      <th>Descricao</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.data %></td>
        <td><%= appointment.horario %></td>
        <td><%= appointment.descricao %></td>
        <td><%= appointment.student %></td>
        <td><%= link_to t('Show'), appointment %></td>
        <td><%= link_to t('Edit'), edit_appointment_path(appointment) %></td>
        <td><%= link_to t('Destroy'), appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Appointment'), new_appointment_path %>
