<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @appointment.data %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @appointment.horario %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @appointment.descricao %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @appointment.student.nome %>
</p>

<%= link_to t('Edit'), edit_appointment_path(@appointment) %> |
<%= link_to t('Back'), appointments_path %>
