<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Agendamento: <%= @student_appointment.student.name %></h2>
  </div>
</header>
<ul class='breadcrumb'>
  <div class='container-fluid'>
    <li class='breadcrumb-item'>
      <%= link_to 'Início', root_path %>
    </li>
    <li class='breadcrumb-item'>
      <%= link_to 'Agendamentos', student_appointments_path %>
    </li>
    <li class='breadcrumb-item active'>
      <%= @student_appointment.student.name %>
    </li>
  </div>
</ul>
<section class="forms">
  <div class="container-fluid">
    <div class="bg-white has-shadow">
      <%= render 'form', student_appointment: @student_appointment %>
    </div>
  </div>
</section>
