<%= form_with(model: funcionario, local: true, html: {class: "form-horizontal col-lg-12"}) do |form| %>
  <% if funcionario.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
        <% funcionario.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

      <div class="form-group row no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="nome">Nome</label>
        <div class="col-sm-5">
          <%= form.text_field :nome, id: :funcionario_nome, class: "form-control" %>
            <span class="help-block-none">Insira o nome do funcionário</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="data">Data de Nascimento</label>
        <div class="col-sm-4">
          <%= form.date_field :data_nascimento, id: :funcionario_data_nascimento, class: "form-control" %>
            <span class="help-block-none">Insira a data de nascimento do funcionário</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label">Sexo</label>
        <div class="col-sm-6">
          <%= radio_button :funcionario, :sexo, "M", class: "radio-template"%>
            <label for="rdMasc">Masculino  </label>
            <%= radio_button :funcionario, :sexo, "F", class: "radio-template"%>
              <label for="rdFem">Feminino</label>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="rg">RG</label>
        <div class="col-sm-2">
          <%= form.text_field :rg, id: :funcionario_rg, class: "form-control" %>
            <span class="help-block-none">Insira o RG do funcionário</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="cpf">CPF</label>
        <div class="col-sm-2">
          <%= form.text_field :cpf, id: :funcionario_cpf, class: "form-control" %>
            <span class="help-block-none">Insira o CPF do funcionário</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="telefone">Telefone</label>
        <div class="col-sm-4">
          <%= form.text_field :telefone, id: :funcionario_telefone, class: "form-control"  %>
            <span class="help-block-none">Insira o telefone de contato</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="dataAdm">Data de Admissão</label>
        <div class="col-sm-4">
          <%= form.date_field :data_admissao, id: :funcionario_data_admissao, class: "form-control" %>
            <span class="help-block-none">Insira a data de admissão</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="usuario">Usuário</label>
        <div class="col-sm-3">
          <%= form.text_field :usuario, id: :funcionario_usuario, class: "form-control" %>
            <span class="help-block-none">Insira o nome de usuário</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="senha">Senha</label>
        <div class="col-sm-3">
          <%= form.password_field :senha, id: :funcionario_senha, class: "form-control" %>
            <span class="help-block-none">Insira a senha</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="ctps">CTPS</label>
        <div class="col-sm-5">
          <%= form.text_field :ctps, id: :funcionario_ctps, class: "form-control"  %>
            <span class="help-block-none">Insira a CTPS</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="funcao">Função</label>
        <div class="col-sm-3">
          <%= form.collection_select :setor_id, @setor_options, :id, :descricao, {}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="cnh">CNH</label>
        <div class="col-sm-5">
          <%= form.text_field :cnh, id: :funcionario_cnh, class: "form-control", class: "form-control" %>
            <span class="help-block-none">Insira a CNH</span>
        </div>
      </div>

      <div class="form-group row  no-padding-bottom">
        <label class="col-sm-3 form-control-label" for="cns">CNS</label>
        <div class="col-sm-5">
          <%= form.text_field :cns, id: :funcionario_cns, class: "form-control" %>
            <span class="help-block-none">Insira o CNS</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">
          <%= form.submit "Salvar", class: "btn btn-primary" %>

            <% end %>