<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @funcionario.data_nascimento %>
</p>

<p>
  <strong>RG:</strong>
  <%= @funcionario.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @funcionario.sexo %>
</p>

<p>
  <strong>Data de admissão:</strong>
  <%= @funcionario.data_admissao %>
</p>

<p>
  <strong>CTPS:</strong>
  <%= @funcionario.ctps %>
</p>

<p>
  <strong>CNS:</strong>
  <%= @funcionario.cns %>
</p>

<p>
  <strong>CNH:</strong>
  <%= @funcionario.cnh %>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Voltar', funcionarios_path %>
