<!DOCTYPE html>
<html>
  <head>
    <title>Apaefy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='page home-page'>
    <%= render partial: 'shared/header' %>
    <main class='page-content d-flex align-items-stretch'>
      <%= render partial: 'shared/sidebar' %>
      <div class='content-inner active'>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
